.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline-color: tomato;
}
.place-order-left .multi-field{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
.place-order-submit {
    margin-top: 50px;
    border: none;
    background: linear-gradient(90deg, #808000 60%, #a3a354 100%);
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.payment h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
.payment .payment-option{
    display: flex;
    align-items: center;
    gap: 10px ;
    border: 1px solid #3c5a2a; /* dark green outline */
    padding: 15px;
    border-radius: 8px;
    min-width: 300px;
    cursor: pointer;
    background: rgba(28,40,18,0.6);
}
/* remove hover highlight */
.payment .payment-option:hover{
    background: rgba(28,40,18,0.6);
}

/* custom radio styling */
.order-type input[type="radio"],
.payment .payment-option input[type="radio"]{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #3c5a2a; /* dark green */
    border-radius: 50%;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    background: transparent;
}
.order-type input[type="radio"]:checked,
.payment .payment-option input[type="radio"]:checked{
    background-color: #3c5a2a;
    box-shadow: inset 0 0 0 4px #0f0f0f;
}
.order-type label,
.payment .payment-option label{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width:700px) {
    .place-order{
        flex-direction: column;
    }
}